// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.container {
  width: 90%;
  margin: auto;
  background-color: #f3f3ec;
  text-decoration: none;
  color: gray;
}

.title {
  font-size: 0.9rem;
  text-decoration: none;
  color: black;
}

.link {
  font-size: 0.8rem;
  text-decoration: none;
  color: black;
}

.post-infos {
  font-size: 0.7rem;
}

.icon {
  margin-top: 5px;
}

.upvote-button {
  border: none;
}

.comment-container {
  margin-top: 2rem;
  margin-left: 40 px;
}

.comment-info {
  flex-direction: column;
  font-size: 1rem;
}

.comment {
  color: black;
  font-size: 1rem;
  margin-left: 1rem;
}
